<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.2/phpunit.xsd"
	backupGlobals="true"
	colors="true"
	cacheResultFile="tmp/.phpunit.result.cache"
	convertDeprecationsToExceptions="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer"
	>
	<testsuites>
		<testsuite name="app">
			<directory suffix="Test.php">tests/app/</directory>
		</testsuite>
	</testsuites>
</phpunit>
